body {
  /* margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #11131a;
  color: white;
  overflow-x: hidden;
  background: #b5b581;
background: radial-gradient(circle,rgb(0, 0, 0) 0%, rgb(41, 41, 8) 100%); */



  margin-top: 20%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #11131a;
  color: white;
  overflow-x: hidden;
  background-image: url('img/WhatsApp Image 2025-05-16 at 12.11.37 PM.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 250vh;
  margin: auto;


}
nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  right: 20%;
  background-color: transparent;
  gap: 2rem;
  
  
}

/* ul do menu */
nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: -9px 6px 2px rgba(238, 234, 0, 0.6);
  color: rgb(238, 163, 0);
  /* animation: piscar 4s infinite; */
  
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2rem;
  text-align: left;
  margin-top: 150px;
  
}
.mensagem {
  border: 3px solid orange;
  padding: 1rem;
  max-width: 400px;
  position: relative;
  animation: piscar 4s infinite;
  /* border-radius: 20px; */
}

.mensagem::before {
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 25px solid orange;
}
.mensagem::after {
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 25px solid orange;
}
.foto-container {
  position: relative;
}
.foto {
  border: 2px solid orange;
  padding: 5px;
  position: relative;
  display: inline-block;
  /* animation: piscar 7s infinite; */
}
.foto img {
  width: 200px;
  height: auto;
  filter: grayscale(100%);
}
.foto::before,
.foto::after {
  content: '';
  position: absolute;
  border: 2px solid orange;
  animation: piscar 4s infinite;
}
.foto::before {
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
}
.foto::after {
  bottom: -10px;
  right: -10px;
  width: 100%;
  height: 100%;
}
.sobre-mim {
  padding: 3rem 2rem;
  text-align: center;
  position: relative;
  margin-top: 15rem;
}
.sobre-mim::before,
.sobre-mim::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: orange;
  left: 0;
  animation: piscar 2s infinite;
}


.sobre-mim p {
  max-width: 600px;
  margin: auto;
  line-height: 1.8;
}
@keyframes piscar {
  0%, 100% {
    opacity: 1;
    box-shadow: 0 0 10px orange;
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 20px orange;
  }
}
.vagalumes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}
.vagalume {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(255, 200, 0, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 8px 4px rgba(255, 200, 0, 0.4);
  animation: flutuar linear infinite;
  z-index: 2;
}



@keyframes flutuar {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(30px, -30px);
    opacity: 0;
  }
}
